# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

# Command line
# Run a command line script using Bash on Linux and macOS and cmd.exe on Windows
- task: CmdLine@2
  inputs:
    script: |
      echo "Structure of work folder of this pipeline:"
      tree $(Agent.WorkFolder)\1 /f

      echo "Build.ArtifactStagingDirectory:" 

      echo "$(Build.ArtifactStagingDirectory)"

      echo "Build.BinariesDirectory:" 

      echo "$(Build.BinariesDirectory)"

      echo "Build.SourcesDirectory:"

      echo "$(Build.SourcesDirectory)"

      dir $(Build.SourcesDirectory)
    #workingDirectory: # Optional
    #failOnStderr: false # Optional

- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '5.x'

- task: DotNetCoreCLI@2
  displayName: 'dotnet build'
  inputs:
    command: 'build'
#    workingDirectory: '/'
